.div1{
    display: flex;
    width: 100%;
    height: max-content;
    border: 1px solid black;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    background-color: cornsilk;
}
.div2{
    border: 1px solid black;
    color: blue;
    font-size: x-large;
    font-family: cursive;
    border-radius: 5px;
    margin: 5px;
}